# Q-learning analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style("whitegrid")

pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 150)

## Load learning results

In [6]:
results_df = pd.read_csv("results/20210411-041749/results_summary.csv")
results_df.head(3)
results_df.shape

(87, 9)

In [9]:
# Drop any results from env_size 15 - leaving that for later
results_df = results_df[results_df["env_size"]==10]

In [10]:
results_df.describe()

       env_size    epsilon      decay      gamma      alpha  experiment_max_rewards  experiment_min_turns_elapsed
count      81.0  81.000000  81.000000  81.000000  81.000000               81.000000                     81.000000
mean       10.0   0.700000   0.800000   0.800000   0.020000               28.078025                     20.400000
std         0.0   0.082158   0.082158   0.082158   0.008216               50.851067                     13.506584
min        10.0   0.600000   0.700000   0.700000   0.010000             -322.680000                     13.460000
25%        10.0   0.600000   0.700000   0.700000   0.010000               29.580000                     15.920000
50%        10.0   0.700000   0.800000   0.800000   0.020000               39.750000                     17.700000
75%        10.0   0.800000   0.900000   0.900000   0.030000               45.090000                     20.310000
max        10.0   0.800000   0.900000   0.900000   0.030000               55.920000                    114.690000

## Analyse learning results